@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

header{
  width: 100%;
  height: 100px;

  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: 'Otomanopee One', sans-serif;
  font-size: 48px;
  color: #fff;
}
