*{
  margin: 0;
  padding: 0;
}

html, body{
  width: 100vw;
  height: 100vh;

  background-color: brown;
}

div{
  height: 100%;
  width: 100%;
  background-color: aquamarine;
}

p {
  font-size: 40px;
}
